// body, 타이포그래피 등 기본 스타일 설정
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:regular);
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:regular);

body {
  margin: 0;
  box-sizing: border-box; // 크기를 쉽게 지정할 수 있다.
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// box-sizing 일괄 설정
* {
  box-sizing: inherit;
}

// 링크 스타일 밑줄 및 색상 무효화
a {
  text-decoration: inherit;
  color: inherit;
}
